{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recetum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recetum.id }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ recetum.observacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('receta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('receta_edit', { 'id': recetum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
