{% extends 'base.html.twig' %}

{% block body %}
    <h1>Entericacapitulo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entericaCapitulo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entericaCapitulo.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entericacapitulo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('entericacapitulo_edit', { 'id': entericaCapitulo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar </button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
