{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- Datatables -->
    <link href="{{ asset('bundles/app/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
{% endblock %}
{% block title %} Imagenes {% endblock %}
{% block Subtitulo %} Lista de Imágenes -  <small> <a href="{{ path('campania_new') }}">Crear Imagen</a></small> {% endblock %} 
{% block body %}
    {% for msg in app.session.flashBag.get('success') %}        
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            <strong>{{ msg }}</strong>
        </div>
    {% endfor %}

    {% for msgs in app.session.flashBag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>
                {% for msg in msgs %}
                    <p>{{ msg }}</p>
                {% endfor %}
            </strong>
        </div>
    {% endfor %}


    <table id="datatable-fixed-header" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Campaña</th>
                <th>Imagen</th>
                <th>Accioes</th>
            </tr>
        </thead>
        <tbody>
            {% for imagen in imagens %}
                <tr>
                    <td><a href="{{ path('imagen_show', { 'id': imagen.id }) }}">{{ loop.index  }}</a></td>
                    <td></td>
                    <td>{{ imagen.nombre }}</td>
                    <td>
                        <a href="{{ path('imagen_show', { 'id': imagen.id }) }}">
                            <button type="button" class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver">  <i class="fa fa-eye"></i>  </button>
                        </a>
                        <a href="{{ path('imagen_edit', { 'id': imagen.id }) }}">
                            <button type="button" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar">  <i class="fa fa-pencil"></i>  </button>
                        </a>                                                
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    <!-- Datatables -->
    <script src="{{ asset('bundles/app/vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
    <!-- Datatables -->
    <script>
        $(document).ready(function () {
            $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });

        });
    </script>

{% endblock %}