<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>USSI-UBV | {% block title %} INICIO {% endblock %} </title>
        <!-- jQuery 2.2.4 -->
        <script src="{{ asset('bundles/app/vendors/jquery/jquery.min.js')}}"></script>
        <!-- Bootstrap -->
        <script src="{{ asset('bundles/app/vendors/bootstrap/bootstrap.min.js')}}"></script> 
        <script src="{{ asset('bundles/app/vendors/holder.js') }}"></script>
        <!-- Bootstrap -->
        <link href="{{ asset('bundles/app/vendors/bootstrap/bootstrap.min.css')}}"   rel="stylesheet">   
        <!-- Font Awesome -->        
        <link href="{{ asset('bundles/app/vendors/font-awesome/css/font-awesome.min.css')}}"   rel="stylesheet">    
        <!-- NProgress -->
        <link href="{{ asset('bundles/app/vendors/nprogress/nprogress.css')}}"   rel="stylesheet">
        <!-- Custom Theme Style -->
        <link href="{{ asset('bundles/app/vendors/bootstrap/custom.min.css')}}"   rel="stylesheet">

    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}" />
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('android-icon-192x192.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}" />
    <link rel="manifest" href="{{ asset('manifest.json') }}" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="{{ path('homepage') }}" class="site_title"><i class="fa fa-stethoscope"></i> <span>USSI-UBV</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile">

                        <div class="profile_pic">                            
                            <img src="{{ asset('uploads/fotos/')}}{{app.user.getPersona.getFoto}}" alt="{{app.user.getPersona.getCedula}}" class="img-circle profile_img" >                                                                                     
                        </div>
                        <div class="profile_info">                            
                            <span>Bienvenido,</span>
                            <h2> {% if app.user %}{{ app.user.getPersona.getPrimerNombre }} {{ app.user.getPersona.getPrimerApellido}} {% endif %} </h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->


                    <!-- sidebar menu--> 
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Menú Principal</h3>
                            <ul class="nav side-menu">
                                <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Home </a>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Gestionar <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <!--li><a href="{{ path('persona_index') }}">Personas</a></li-->
                                        <li><a href="{{ path('paciente_index') }}">Pacientes</a></li>
                                        <li><a href="{{ path('profesional_index') }}">Profesional</a></li> 
                                        <li><a href="{{ path('profesionalespecialidad_index') }}">Profesional - Especialidad</a></li> 
                                        <li><a href="{{ path('cita_index') }}">Citas</a></li>
                                        <li><a href="{{ path('cita_consulta') }}">Consulta Cita</a></li>
                                        <li><a href="{{ path('consulta_index') }}">Consultas</a></li>   
                                        <li><a href="{{ path('disponible_index') }}">Disponible</a></li>
                                        <li><a href="{{ path('servicio_index') }}">Servicio</a></li>
                                        <li><a href="{{ path('servicioprofesional_index') }}">Servicio - Profesional</a></li>
                                        <li><a href="{{ path('esperando_index') }}">Lista de Espera</a></li>
                                        <li><a href="{{ path('esperando_procesar') }}">Llamar Paciente</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Administrar <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">                                        
                                        <li><a href="{{ path('etnia_index') }}">Etnia</a></li>
                                        <li><a href="{{ path('religion_index') }}">Religión</a></li>
                                        <li><a href="{{ path('pfg_index') }}">PFG</a></li>
                                        <li><a href="{{ path('pais_index') }}">Paises</a></li>
                                        <li><a href="{{ path('estado_index') }}">Estados</a></li>
                                        <li><a href="{{ path('municipio_index') }}">Municipios</a></li>
                                        <li><a href="{{ path('parroquia_index') }}">Parroquias</a></li>
                                        <li><a href="{{ path('especialidad_index') }}">Especialidad</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>                        
                    </div>
                    <!-- /sidebar menu -->

                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('fos_user_security_logout')}}"data-toggle="tooltip" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="{{ asset('uploads/fotos/')}}{{app.user.getPersona.getFoto}}" alt="" width="30px">
                                    {% if app.user %}{{ app.user.getPersona.getPrimerNombre }} {{ app.user.getPersona.getPrimerApellido}} {% endif %} 
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">                                    
                                    <li><a href="{{ path('fos_user_change_password')}}"><i class="fa fa-edit pull-right"></i> Cambiar Contraseña</a></li>
                                    <li><a href="{{ path('fos_user_security_logout')}}"><i class="fa fa-sign-out pull-right"></i> Salir</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <!-- top tiles -->
                {% block topTiles %} {% endblock %}              
                <!-- /top tiles -->
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="x_panel tile fixed_height_320">
                            <div class="x_title">
                                <h2>Gestionar Consultas</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>                                    
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="col-md-12">
                                    <div class="thumbnail">

                                        <div class="image view view-first">
                                            <a href="{{ path('cita_consulta') }}"> 
                                                <img style="width: 100%; display: block;" src="{{ asset('bundles/app/seguridad/images/14.jpg')}}" alt="image">
                                                <div class="mask">
                                                    <p>Gestionar Consultas</p>                                               
                                                </div>
                                            </a> 
                                        </div>
                                        <div class="caption">
                                            <p><a href="{{ path('cita_consulta') }}">  Gestionar Consultas  </a>  </p>
                                        </div>
                                    </div>
                                </div>    

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="x_panel tile fixed_height_320">
                            <div class="x_title">
                                <h2>Gestionar Expedientes</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>                                    
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-md-12">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <a href="{{ path('paciente_index') }}"> 
                                                <img style="width: 100%; display: block;" src="{{ asset('bundles/app/seguridad/images/1.jpg')}}" alt="image">
                                                <div class="mask">
                                                    <p>Gestionar Expedientes</p>                                                
                                                </div>
                                            </a> 
                                        </div>
                                        <div class="caption">
                                            <p> <a href="{{ path('paciente_index') }}"> Gestionar Expedientes </a>  </p>
                                        </div>
                                    </div>
                                </div>    
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="x_panel tile fixed_height_320">
                            <div class="x_title">
                                <h2>Verificar CItas</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>                                    
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-md-12">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <a href="{{ path('cita_index') }}">
                                                <img style="width: 100%; display: block;" src="{{ asset('bundles/app/seguridad/images/13.jpg')}}" alt="image">
                                                <div class="mask">
                                                    <p> Verificar Citas</p>                                                
                                                </div>
                                            </a> 
                                        </div>
                                        <div class="caption">
                                            <p> <a href="{{ path('cita_index') }}"> Verificar Citas </a>  </p>
                                        </div>
                                    </div>
                                </div>                                   

                                <br>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Médicos <small>Status</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>

                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <ul class="list-unstyled msg_list">
                                    {% for servicioProfesional in servicioProfesionals %}
                                        <li>
                                            <a>
                                                <span class="image">
                                                    <img src="{{ asset('uploads/fotos/')}}{{servicioProfesional.profesional.persona.foto}}" alt="img" />
                                                </span>
                                                <span>
                                                    <span>{{ servicioProfesional.profesional.persona.primerApellido}} {{ servicioProfesional.profesional.persona.primerNombre}}</span>
                                                    <span class="time">{{ servicioProfesional.servicio.especialidad.nombre }}</span>
                                                </span>
                                                <span class="message">
                                                    {{ servicioProfesional.observacion }}
                                                </span>
                                            </a>
                                        </li>                                        

                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>






                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Lista de Pacientes <small>Esperando</small></h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>                                            
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div class="dashboard-widget-content">
                                            <div class="col-md-12 hidden-small">
                                                <h2 class="line_30">125.7k Views from 60 countries</h2>

                                                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Foto</th>
                                                            <th>Cédula</th>
                                                            <th>Paciente</th>
                                                            <th>Fecha</th>
                                                            <th>Status</th>
                                                            <th>Penalizacion</th>
                                                            <th>Posicion</th>
                                                            <th>Especialidad</th>
                                                            <th>Profesional</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for esperando in esperandos %}
                                                            <tr>
                                                                <td>
                                                                    <span class="image">
                                                                        <img src="{{ asset('uploads/fotos/')}}{{esperando.paciente.persona.foto}}" alt="{{esperando.paciente.persona.cedula}}" class="img-rounded" height="50" width="50">
                                                                    </span>
                                                                </td>
                                                                <td>{{ esperando.paciente.persona.nacionalidad }} - {{ esperando.paciente.persona.cedula }}</td>
                                                                <td>{{ esperando.paciente.persona.primerApellido }} {{ esperando.paciente.persona.primerNombre }}</td>
                                                                <td>{% if esperando.fechaRegistro %}{{ esperando.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                                                                <td>
                                                                    {% if esperando.status=='atendido' %}                                                        
                                                                        <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{esperando.status |title}}">
                                                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                                        </button>
                                                                    {% elseif esperando.status=='abandono' %}
                                                                        <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{esperando.status |title}}">
                                                                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>                            
                                                                        </button>
                                                                    {% elseif  esperando.status=='procesando' %}
                                                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{esperando.status |title}}">
                                                                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                                                        </button>                           
                                                                    {% elseif esperando.status=='cancelado' %}
                                                                        <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{esperando.status |title}}"> 
                                                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                                        </button>
                                                                    {% else %}    
                                                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{esperando.status |title}}"> 
                                                                            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                                                                        </button>
                                                                    {% endif %}
                                                                </td>

                                                                <td class="project_progress">    
                                                                    {% set valor = (esperando.penalizacion *100/ penalizacion)%}                           
                                                                    {% set color = 'bg-red'-%}
                                                                    {% if(valor<31) %}
                                                                        {% set color = 'bg-green' %}
                                                                    {% endif%}

                                                                    <div class="progress progress_sm right">
                                                                        <div class="progress-bar {{color}}" role="progressbar" data-transitiongoal="{{valor}}" ></div>
                                                                    </div>

                                                                    <small>    {{ valor }}%  - de {{ penalizacion}} Oportunidades </small>
                                                                </td>
                                                                <td>{{  esperando.posicion  }} </td>
                                                                <td>{{ esperando.especialidad.nombre }}</td>
                                                                <td>{% if esperando.profesional != null %} {{ esperando.profesional.persona.primerApellido }} {{ esperando.profesional.persona.primerNombre }}{% endif %}</td>
                                                                <td>
                                                                    <ul>
                                                                        <li>
                                                                            <a href="{{ path('esperando_show', { 'id': esperando.id }) }}">show</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="{{ path('esperando_edit', { 'id': esperando.id }) }}">edit</a>
                                                                        </li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="world-map-gdp" class="col-md-8 col-sm-12 col-xs-12" style="height:230px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Dirección General de Tecnología de Información y Telecomunicaciones <a href="http://www.ubv.edu.ve">UBV</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- FastClick -->
    <script src="{{ asset('bundles/app/vendors/fastclick/lib/fastclick.js')}}"></script>    
    <!-- NProgress -->
    <script src="{{ asset('bundles/app/vendors/nprogress/nprogress.js')}}"></script> 
    <!-- bootstrap-progressbar -->
    <script src="{{ asset('bundles/app/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')}}" ></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('bundles/app/vendors/custom.min.js')}}"></script>

{% block javascripts %}

 <!-- Datatables -->
    <script src="{{ asset('bundles/app/vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>   
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>

    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>    
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>    
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>    
    <script src="{{ asset('bundles/app/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>

    <script src="{{ asset('bundles/app/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>       
    <script src="{{ asset('bundles/app/vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>     
    <script src="{{ asset('bundles/app/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>    
    <script src="{{ asset('bundles/app/vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>

    <script src="{{ asset('bundles/app/vendors/jszip/jszip.min.js')}}"></script>       
    <script src="{{ asset('bundles/app/vendors/pdfmake/pdfmake.min.js')}}"></script>     
    <script src="{{ asset('bundles/app/vendors/pdfmake/vfs_fonts.js')}}"></script>   

    <!-- PNotify -->
    <script src="{{ asset('bundles/app/vendors/pnotify/dist/pnotify.js')}}"></script> 
    <script src="{{ asset('bundles/app/vendors/pnotify/dist/pnotify.buttons.js')}}"></script> 
    <script src="{{ asset('bundles/app/vendors/pnotify/dist/pnotify.nonblock.js')}}"></script> 

    <!-- Push -->
    <script src="{{ asset('bundles/app/vendors/push/push.min.js')}}"></script> 


    <script>
        $(document).ready(function () {

            //Verificar si un Doctor esta llamando a un Paciente
            function estanLlamando() {
                $.ajax
                        ({
                            type: "POST",
                            url: "{{ path ('ajax_estanLlamando') }}",
                            //data: dataString,
                            cache: false,
                            success: function (html)
                            {
                              /*  new PNotify({
                                    title: "Llamando a Paciente",
                                    type: "info",
                                    text: "Paciente # " + html,
                                    icon: 'http://127.0.0.1:8080/ussi/web/uploads/fotos/fba9e9c083883951ead4121fd1d36591.jpeg',
                                    addclass: 'dark',
                                    styling: 'bootstrap3',
                                    hide: false,
                                    before_close: function (PNotify) {
                                        PNotify.update({
                                            title: PNotify.options.title + " - Enjoy your Stay",
                                            before_close: null
                                        });

                                        PNotify.queueRemove();

                                        return false;
                                    }
                                });*/

                                 Push.create("Llamando al", {
                                 body: "Paciente # "+html,
                                 icon: 'http://127.0.0.1:8080/ussi/web/uploads/fotos/fba9e9c083883951ead4121fd1d36591.jpeg',
                                 timeout: 50000,
                                 vibrate:[200, 100] ,
                                 onClick: function () {
                                 window.focus();
                                 this.close();
                                 }
                                 });

                            }
                        });


            }

            setInterval(estanLlamando, 10000);

            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [
                            {
                                extend: "copy",
                                className: "btn-sm"
                            },
                            {
                                extend: "csv",
                                className: "btn-sm"
                            },
                            {
                                extend: "excel",
                                className: "btn-sm"
                            },
                            {
                                extend: "pdfHtml5",
                                className: "btn-sm"
                            },
                            {
                                extend: "print",
                                className: "btn-sm"
                            },
                        ],
                        responsive: true
                    });
                }
            };

            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();

            $('#datatable').dataTable();

            $('#datatable-keytable').DataTable({
                keys: true
            });

            $('#datatable-responsive').DataTable();

            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });

            $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });

            var $datatable = $('#datatable-checkbox');

            $datatable.dataTable({
                'order': [[1, 'asc']],
                'columnDefs': [
                    {orderable: false, targets: [0]}
                ]
            });
            $datatable.on('draw.dt', function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_flat-green'
                });
            });

            TableManageButtons.init();

        });
    </script>
    <!-- /Datatables -->

{% endblock %}
</body>
</html>