{% extends 'base.html.twig' %}
{% block title %} Insumo Suministrado {% endblock %}
{% block Subtitulo %} Editar Insumo Suministrado -  <small> <a href="{{ path('homepage_enfermeria', { 'paciente': insumoSuministrado.consulta.paciente.id }) }}">Regresar a la Consulta</a></small> {% endblock %} 
{% block body %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success"> {{ msg }} </div>       
    {% endfor %}

    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger"> <p>{{ msg }}</p> </div>
    {% endfor %}
    <div class="x_content">
        <br />


        {{ form_start(edit_form, { 'attr': {'id':'insumosuministrado','class': 'form-horizontal form-label-left'} }) }} 
        {{ form_errors(edit_form) }}

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="consulta">{{ form_label(edit_form.consulta) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.consulta) }}                
                {{form_widget(edit_form.consulta,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tipoInsumo">{{ form_label(edit_form.tipoInsumo) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.tipoInsumo) }}                
                {{form_widget(edit_form.tipoInsumo,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div> 

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="insumo">{{ form_label(edit_form.insumo) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.insumo) }}                
                {{form_widget(edit_form.insumo,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div> 

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cantidad">{{ form_label(edit_form.cantidad) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.cantidad) }}                
                {{form_widget(edit_form.cantidad,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>            

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="usuario">{{ form_label(edit_form.usuario) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.usuario) }}                
                {{form_widget(edit_form.usuario,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fecha">{{ form_label(edit_form.fecha) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.fecha) }}                
                {{form_widget(edit_form.fecha ) }}                
            </div>
        </div>               

        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">                 
                <button type="submit" onClick="removeReadonly()" class="btn btn-success">Registrar</button>
            </div>
        </div>

        {{ form_end(edit_form) }}        

        {{ form_start(delete_form) }}
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar </button>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            //   $("#appbundle_insumosuministrado_consulta_tipoMedicamento").val('').change();
            //   $('#appbundle_insumosuministrado_consulta_medicamento').remove();
            //   $('#appbundle_insumosuministrado_consulta_viaAdministracion ').remove();
            //   $('#appbundle_insumosuministrado_consulta_cantidad ').val('');

            //Al Cambiar Tipo de Medicamneto -> Actualizamos Medicamentos
            $("#appbundle_insumosuministrado_tipoInsumo").change(function () {
                if ($('#appbundle_insumosuministrado_tipoInsumo').val() !== ' ') {
                    // Ajax                                                 
                    var dataString = 'id=' + $('#appbundle_insumosuministrado_tipoInsumo').val();
                    $.ajax
                            ({
                                type: "POST",
                                url: "{{ path ('ajax_insumo') }}",
                                data: dataString,
                                cache: false,
                                success: function (html)
                                {
                                    $('#appbundle_insumosuministrado_insumo option ').remove();
                                    $('#appbundle_insumosuministrado_insumo').append(html);
                                    //$('#appbundle_insumosuministrado_consulta_viaAdministracion option ').remove();
                                }
                            });

                }
            });

            $('#appbundle_insumosuministrado_consulta').prop('disabled', true);
            $('#appbundle_insumosuministrado_usuario').prop('disabled', true);
            $('#appbundle_insumosuministrado_fecha_date_day').prop('disabled', true);
            $('#appbundle_insumosuministrado_fecha_date_month').prop('disabled', true);
            $('#appbundle_insumosuministrado_fecha_date_year').prop('disabled', true);
            $('#appbundle_insumosuministrado_fecha_time_hour').prop('disabled', true);
            $('#appbundle_insumosuministrado_fecha_time_minute').prop('disabled', true);

        });
    </script>
    <script>
        function removeReadonly() {
            $('#appbundle_insumosuministrado_consulta').prop('disabled', false);
            $('#appbundle_insumosuministrado_usuario').prop('disabled', false);
            $('#appbundle_insumosuministrado_fecha_date_day').prop('disabled', false);
            $('#appbundle_insumosuministrado_fecha_date_month').prop('disabled', false);
            $('#appbundle_insumosuministrado_fecha_date_year').prop('disabled', false);
            $('#appbundle_insumosuministrado_fecha_time_hour').prop('disabled', false);
            $('#appbundle_insumosuministrado_fecha_time_minute').prop('disabled', false);
            return false;
        }
    </script>


{% endblock %}