{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pfg</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pfg.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ pfg.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pfg_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pfg_edit', { 'id': pfg.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
