{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block title %} Estadísticas {% endblock %}
{% block Subtitulo %} Estadísticas -  <small> <a href="{{ path('homepage') }}">Inicio</a></small> {% endblock %} 
{% block body %}

    <div class="x_content">

        <div class="row">

            <p>Unidad de Reportes</p>

            <div class="col-md-55">
                <div class="thumbnail">
                    <div class="image view view-first">
                        <a href="{{ path('estadistica_consulta') }}"> 
                            <img style="width: 100%; display: block;" src="{{ asset('bundles/app/seguridad/images/4.jpg')}}" alt="image">
                            <div class="mask">
                                <p>Reportes Consultas</p>                                               
                            </div>
                        </a> 
                    </div>
                    <div class="caption">
                        <p><a href="{{ path('estadistica_consulta') }}">  Reportes Consultas  </a>  </p>
                    </div>
                </div>
            </div>
            <div class="col-md-55">
                <div class="thumbnail">
                    <div class="image view view-first">
                        <a href="{{ path('estadistica_medicamento') }}"> 
                            <img style="width: 100%; display: block;" src="{{ asset('bundles/app/seguridad/images/5.jpg')}}" alt="image">
                            <div class="mask">
                                <p>Reportes Medicamentos</p>                                               
                            </div>
                        </a> 
                    </div>
                    <div class="caption">
                        <p><a href="{{ path('estadistica_medicamento') }}">  Reportes Medicamentos Suministrados  </a>  </p>
                    </div>
                </div>
            </div>
            <div class="col-md-55">
                <div class="thumbnail">
                    <div class="image view view-first">
                        <a href="{{ path('estadistica_insumo') }}"> 
                            <img style="width: 100%; display: block;" src="{{ asset('bundles/app/seguridad/images/6.jpg')}}" alt="image">
                            <div class="mask">
                                <p>Reportes Insumos</p>                                               
                            </div>
                        </a> 
                    </div>
                    <div class="caption">
                        <p><a href="{{ path('estadistica_insumo') }}">  Reportes Insumos Suministrados  </a>  </p>
                    </div>
                </div>
            </div>
            <div class="col-md-55">
                <div class="thumbnail">
                    <div class="image view view-first">
                        <a href="{{ path('estadistica_signo') }}"> 
                            <img style="width: 100%; display: block;" src="{{ asset('bundles/app/seguridad/images/7.jpg')}}" alt="image">
                            <div class="mask">
                                <p>Reportes Signos Vitales</p>                                               
                            </div>
                        </a> 
                    </div>
                    <div class="caption">
                        <p><a href="{{ path('estadistica_signo') }}">  Reportes Signos Vitales Suministrados  </a>  </p>
                    </div>
                </div>
            </div>
            <div class="col-md-55">
                <div class="thumbnail">
                    <div class="image view view-first">
                        <a href="{{ path('estadistica_observacion') }}"> 
                            <img style="width: 100%; display: block;" src="{{ asset('bundles/app/seguridad/images/8.jpg')}}" alt="image">
                            <div class="mask">
                                <p>Reportes Observaciones</p>                                               
                            </div>
                        </a> 
                    </div>
                    <div class="caption">
                        <p><a href="{{ path('estadistica_observacion') }}">  Reportes Observaciones Suministrados  </a>  </p>
                    </div>
                </div>
            </div>
            <div class="col-md-55">
                <div class="thumbnail">
                    <div class="image view view-first">
                        <a href="{{ path('estadistica_odontologia') }}"> 
                            <img style="width: 100%; display: block;" src="{{ asset('bundles/app/seguridad/images/9.jpg')}}" alt="image">
                            <div class="mask">
                                <p>Reportes Odontología</p>                                               
                            </div>
                        </a> 
                    </div>
                    <div class="caption">
                        <p><a href="{{ path('estadistica_odontologia') }}">  Reportes Odontología  </a>  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}