
{% extends 'base.html.twig' %}
{% block title %} Citas Médicas {% endblock %}
{% block Subtitulo %} Agendar Citas Médicas -  <small> <a href="{{ path('homepage_consulta', { 'paciente': citum.consulta.paciente.id }) }}">Regresar a la Consulta</a></small> {% endblock %} 

{% block body %}
    <div class="x_content">
        <br />
        {{ form_start(form, { 'attr': {'id':'etnia','class': 'form-horizontal form-label-left'} }) }} 
        {{ form_errors(form) }}
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="consulta">{{ form_label(form.consulta) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.consulta) }}                
                {{form_widget(form.consulta,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="paciente">{{ form_label(form.paciente) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.paciente) }}                
                {{form_widget(form.paciente,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="especialidad">{{ form_label(form.especialidad) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.especialidad) }}                
                {{form_widget(form.especialidad,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="profesional">{{ form_label(form.profesional) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.profesional) }}                
                {{form_widget(form.profesional,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fecha">{{ form_label(form.fecha) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.fecha) }}                
                {{form_widget(form.fecha ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="profesional">{{ form_label(form.prioridad) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.prioridad) }}                
                {{form_widget(form.prioridad,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="profesional">{{ form_label(form.status) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.status) }}                
                {{form_widget(form.status,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>


        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">                
                <button type="submit" onClick="removeReadonly()" class="btn btn-success">Registrar</button>
            </div>
        </div>


        {{ form_end(form) }}                           
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#appbundle_cita_consulta').prop('disabled', true);
            $('#appbundle_cita_paciente').prop('disabled', true);
            $('#appbundle_cita_status').prop('disabled', true);
        });
    </script>
    <script>
        function removeReadonly() {
            $('#appbundle_cita_consulta').prop('disabled', false);
            $('#appbundle_cita_paciente').prop('disabled', false);
            $('#appbundle_cita_status').prop('disabled', false);
            return false;
        }
    </script>
    <!-- /Familiar -->


{% endblock %}
