{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- sweetalert2 -->
    <script src="{{ asset('bundles/app/vendors/sweetalert2/sweetalert2.min.js')}}"></script>
    <link href="{{ asset('bundles/app/vendors/sweetalert2/sweetalert2.min.css')}}" rel="stylesheet">
{% endblock %}

{% block title %} Etnia {% endblock %}
{% block Subtitulo %} Cita Sucesiva -  <small> {{profesionalDisponible.servicio.especialidad.nombre |title}} </small> {% endblock %} 

{% block body %}


    <ul class="messages">
        <li>
            <img src="{{ asset('uploads/fotos/')}}{{profesionalDisponible.profesional.persona.foto}}" class="avatar" alt="Avatar">
            <div class="message_wrapper">
                <h4 class="heading"> Dr. {{profesionalDisponible.profesional.persona.primerNombre}} {{profesionalDisponible.profesional.persona.primerApellido}} </h4>
                <blockquote class="message">
                    Estatus: {{profesionalDisponible.status |title}}
                    </br>
                    Fecha: {{profesionalDisponible.fechaActualizacion |date("d/m/Y")}}                    
                    </br>
                    {{profesionalDisponible.observacion}}
                </blockquote>
                <br>
                <p class="url">
                    
                    <button type="button" class="btn btn-success btn-lg">Desea Verse con otro doctor</button>
                </p>
            </div>
        </li>


    </ul>
    <a href="{{ path('cita_consulta') }}">Regresar</a>       

{% endblock %}

{% block javascripts %}
    <script>
        $('.showcase.sweet button').on('click', function () {
            swal('Oops...', 'Doctor No Disponible', 'error').catch(swal.noop)
        })
    </script>
{% endblock %}






