{% extends 'base.html.twig' %}

{% block body %}
    <h1>Citum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ citum.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if citum.fecha %}{{ citum.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ citum.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cita_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cita_edit', { 'id': citum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
