{% extends 'base.html.twig' %}

{% block body %}
    <h1>Servicios list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Especialidad</th>
                <th>Día</th>
                <th>Turno</th>
                <th>Procedencia</th>
                <th>Cupos</th>
                <th>Disponibles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
                <tr>
                    <td><a href="{{ path('servicio_show', { 'id': servicio.id }) }}">{{ servicio.id }}</a></td>
                    <td>{{ servicio.especialidad.nombre }}</td>
                    <td>
                        {% set dia = ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'] %}
                        {{ dia[servicio.dia] }}
                    </td>

                    <td>{{ servicio.turno | title }}</td>
                    <td>{{ servicio.procedencia }}</td>
                    <td>{{ servicio.cupo }}</td>
                    <td>{{ servicio.disponible }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('servicio_show', { 'id': servicio.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('servicio_edit', { 'id': servicio.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('servicio_new') }}">Create a new servicio</a>
        </li>
    </ul>
{% endblock %}
