{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- Datatables -->
    <link href="{{ asset('bundles/app/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
{% endblock %}
{% block title %} Servicios {% endblock %}
{% block Subtitulo %} Lista de Servicios -  <small> <a href="{{ path('servicio_new') }}">Crear Servicio</a></small> {% endblock %} 
{% block body %}
  {% for msg in app.session.flashBag.get('success') %}        
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            <strong>{{ msg }}</strong>
        </div>
    {% endfor %}

    {% for msgs in app.session.flashBag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>
                {% for msg in msgs %}
                    <p>{{ msg }}</p>
                {% endfor %}
            </strong>
        </div>
    {% endfor %}

    <table id="datatable-fixed-header" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Especialidad</th>
                <th>Día</th>
                <th>Turno</th>
                <th>Procedencia</th>
                <th>Cupos</th>
                <th>Disponibles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
                <tr>
                    <td><a href="{{ path('servicio_show', { 'id': servicio.id }) }}">{{ loop.index }}</a></td>
                    <td>{{ servicio.especialidad.nombre }}</td>
                    <td>
                        {% set dia = ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'] %}
                        {{ dia[servicio.dia] }}
                    </td>

                    <td>{{ servicio.turno | title }}</td>
                    <td>{{ servicio.procedencia }}</td>
                    <td>{{ servicio.cupo }}</td>
                    <td>{{ servicio.disponible }}</td>
                    <td>
                        <a href="{{ path('servicio_show', { 'id': servicio.id }) }}">
                            <button type="button" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver">  <i class="fa fa-eye"></i>  </button>
                        </a>
                        <a href="{{ path('servicio_edit', { 'id': servicio.id }) }}">
                            <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar">  <i class="fa fa-pencil"></i>  </button>
                        </a>   
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block javascripts %}
    <!-- Datatables -->
    <script src="{{ asset('bundles/app/vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>

    <!-- Datatables -->
    <script>
        $(document).ready(function () {
            $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });

        });
    </script>
    <!-- /Datatables -->
{% endblock %}