{% extends 'base.html.twig' %}
{% block title %} Paciente {% endblock %}
{% block Subtitulo %} Registrar Datos de Paciente -  <small> <a href="{{ path('paciente_index') }}">Regresar a la lista</a></small> {% endblock %} 
{% block body %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success"> {{ msg }} </div>       
    {% endfor %}

    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger"> <p>{{ msg }}</p> </div>
    {% endfor %}
    <div class="x_content">
        <br />
        {% form_theme form 'AppBundle::jquery.collection.html.twig' %}

        {{ form_start(form, { 'attr': {'id':'paciente','class': 'form-horizontal form-label-left'} }) }} 
        {{ form_errors(form) }}
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nacionalidad">{{ form_label(form.persona.nacionalidad) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.persona.nacionalidad) }}                
                {{form_widget(form.persona.nacionalidad,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cedula">{{ form_label(form.persona.cedula) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.persona.cedula) }}                
                {{form_widget(form.persona.cedula,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="primerApellido">{{ form_label(form.persona.primerApellido) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.persona.primerApellido) }}                
                {{form_widget(form.persona.primerApellido,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="segundoApellido">{{ form_label(form.persona.segundoApellido) }}</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.persona.segundoApellido) }}                
                {{form_widget(form.persona.segundoApellido,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="primerNombre">{{ form_label(form.persona.primerNombre) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.persona.primerNombre) }}                
                {{form_widget(form.persona.primerNombre,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="segundoNombre">{{ form_label(form.persona.segundoNombre) }} </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.persona.segundoNombre) }}                
                {{form_widget(form.persona.segundoNombre,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>        

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.persona.genero) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.persona.genero) }}                
                {{form_widget(form.persona.genero,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.persona.telefono) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.persona.telefono) }}                
                {{form_widget(form.persona.telefono,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.persona.email) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.persona.email) }}                
                {{form_widget(form.persona.email,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.persona.foto) }} </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.persona.foto) }}                
                {{form_widget(form.persona.foto) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.edoCivil) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.edoCivil) }}                
                {{form_widget(form.edoCivil,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.ocupacion) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.ocupacion) }}                
                {{form_widget(form.ocupacion,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.analfabeta) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.analfabeta) }}                
                {{form_widget(form.analfabeta) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.estudio) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.estudio) }}                
                {{form_widget(form.estudio,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.anoAprobado) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.anoAprobado) }}                
                {{form_widget(form.anoAprobado,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.fechaNacimiento) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.fechaNacimiento) }}                
                {{form_widget(form.fechaNacimiento) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.procedencia) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.procedencia) }}                
                {{form_widget(form.procedencia,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.apellidoFamilia) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.apellidoFamilia) }}                
                {{form_widget(form.apellidoFamilia,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.cedulaJefeFamilia) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.cedulaJefeFamilia) }}                
                {{form_widget(form.cedulaJefeFamilia,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.comunidad) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.comunidad) }}                
                {{form_widget(form.comunidad,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.pfg) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.pfg) }}                
                {{form_widget(form.pfg,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.religion) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.religion) }}                
                {{form_widget(form.religion,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.etnia) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.etnia) }}                
                {{form_widget(form.etnia,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.direccion) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.direccion) }}                
                {{form_widget(form.direccion ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">{{ form_label(form.familiar) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.familiar) }}                
                {{form_widget(form.familiar ) }}                
            </div>
        </div>


        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">                
                <button type="submit" class="btn btn-success">Registrar</button>
            </div>
        </div>

        {{ form_end(form) }}                           
    </div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('bundles/app/vendors/ninsuo/js/jquery.collection.js') }}"></script>
    <!-- Direccion de Habitacion y de Lugar de nacimiento -->
    <script type="text/javascript">
        $('.my-direccion').collection();
        $('.my-direccion').collection({max: 2});

        $('.my-direccion').collection({
            drag_drop: true,
            drag_drop_options: {
                placeholder: 'ui-state-highlight'
            }
        });
    </script>



    <!-- /Direccion de Habitacion y de Lugar de nacimiento -->


    <!-- Familiar -->
    <script type="text/javascript">
        $('.my-familiar').collection();
        $('.my-familiar').collection({max: 3});

        $('.my-familiar').collection({
            drag_drop: true,
            drag_drop_options: {
                placeholder: 'ui-state-highlight'
            }

        });
    </script>
    <!-- /Familiar -->


{% endblock %}