{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- iCheck -->
    <link href="{{ asset('bundles/app/vendors/iCheck/skins/flat/green.css')}}" rel="stylesheet">   
{% endblock %}        
{% block Subtitulo %} Ver Datos del Paciente -  <small> <a href="{{ path('paciente_index') }}">Regresar a la lista</a></small> {% endblock %} 
{% block body %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    {% for msgs in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {% for msg in msgs %}
                <p>{{ msg }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <!-- page content -->
    <div class="x_content">
        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
            <div class="profile_img">
                <div id="crop-avatar">
                    <!-- Current avatar -->
                    <img class="img-responsive avatar-view" src="{{ asset('uploads/fotos/')}}{{paciente.persona.foto}}" alt="Avatar" title="Change the avatar" height="80%" width="80%">                    
                </div>
            </div>

            <p></p>

            <a class="btn btn-success" href="{{ path('paciente_edit', { 'id': paciente.id }) }}"><i class="fa fa-edit m-right-xs"></i>Editar Registro</a>
            <br/>           
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">                    
            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Personales</a></li>                     
                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Datos Complementarios</a></li>

                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Identificación</th>
                                    <td>{{ paciente.persona.nacionalidad }} - {{ paciente.persona.cedula |number_format(0, ',', '.')}}</td>
                                </tr>
                                <tr>
                                    <th>Nombre</th>
                                    <td>{{ paciente.persona.primerApellido |capitalize }} {{ paciente.persona.segundoApellido |capitalize }} {{ paciente.persona.primerNombre |capitalize }} {{ paciente.persona.segundoNombre |capitalize }}</td>
                                </tr>
                                <tr>
                                    <th>Género</th>
                                    <td>{{ paciente.persona.genero }}</td>
                                </tr>
                                <tr>
                                    <th>Fecha de Nacimiento</th>
                                    <td>{{ paciente.fechaNacimiento|date("d/m/Y") }}</td>
                                </tr>
                                <tr>
                                    <th>Correo Electrónico</th>
                                    <td>{{ paciente.persona.email }}</td>
                                </tr>
                                <tr>
                                    <th>Estado Civil</th>
                                    <td>{{ paciente.edoCivil |capitalize  }}</td>
                                </tr>

                                <tr>
                                    <th>Teléfono</th>
                                    <td>{{ paciente.persona.telefono }}</td>
                                </tr>
                                {% for value in paciente.direccion %}
                                    <tr>
                                        <th>Dirección de {{ value.tipo |capitalize }}</th>
                                        <td>                                           
                                            <p>Lugar : {{ value.sector |capitalize  }}</p>
                                            <p>{{ value.parroquia.municipio.estado.pais }} -{{ value.parroquia.municipio.estado }} -{{ value.parroquia.municipio }} -{{ value.parroquia }}</p>

                                        </td>
                                    </tr>
                                {% endfor %} 

                                <tr>
                                    <th>Fecha de registro</th>
                                    <td>{{ paciente.fechaRegistro|date("d/m/Y h:i:s") }}</td>
                                </tr>

                                <tr>
                                    <th>Fecha de última actualización</th>
                                    <td>{{ paciente.fechaActualizacion|date("d/m/Y h:i:s") }}</td>
                                </tr>

                            </tbody>
                        </table>                                
                    </div>   

                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Ocupación</th>
                                    <td>{{ paciente.ocupacion |capitalize }}</td>
                                </tr>
                                <tr>
                                    <th>Es Analfabeta?</th>
                                        {% if paciente.analfabeta %}
                                        <td> Si  </td>
                                    {% else %}
                                        <td> No  </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>Nivel de Instrucción</th>
                                    <td>{{ paciente.estudio |capitalize }} </td>
                                </tr>
                                <tr>
                                    <th>Años Aprobados</th>
                                    <td>{{ paciente.anoAprobado }} </td>
                                </tr>
                                <tr>
                                    <th>Cédula del Jefe Familia </th>
                                    <td>{{ paciente.cedulaJefeFamilia |number_format(0, ',', '.') }} </td>
                                </tr>

                                <tr>
                                    <th>Comunidad</th>
                                    <td>{{ paciente.comunidad |capitalize }} </td>
                                </tr>
                                <tr>
                                    <th>Programa de Formación de Grado</th>
                                    <td>{{ paciente.pfg |capitalize }} </td>
                                </tr>
                                <tr>
                                    <th>Religión</th>
                                    <td>{{ paciente.religion |capitalize }} </td>
                                </tr>
                                <tr>
                                    <th>Etnia</th>
                                    <td>{{ paciente.etnia |capitalize }} </td>
                                </tr>
                                {% for value in paciente.familiar %}
                                    <tr>
                                        <th>Parentesco {{ value.parentesco |capitalize }}</th>
                                        <td>                                           
                                            <p>Nombre: {{ value.nombre |capitalize  }}</p>
                                            <p>Ocupación:{{ value.ocupacion }}</p>
                                        </td>
                                    </tr>
                                {% endfor %} 
                            </tbody>
                        </table>        
                    </div> 


                </div> {# Fin del Tab Historia Medica  #}
            </div> 
        </div> {# Fin del Tab Principal  #}
    </div>


    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar </button>
    {{ form_end(delete_form) }}



{% endblock %}
{% block javascripts %}
    <!-- iCheck -->
    <script src="{{ asset('bundles/app/vendors/iCheck/icheck.min.js')}}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#paciente").val({{paciente.id}});
        });
    </script>
{% endblock %}