{% extends 'base.html.twig' %}

{% block body %}
    <h1>Odontogramas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for odontograma in odontogramas %}
            <tr>
                <td><a href="{{ path('odontograma_show', { 'id': odontograma.id }) }}">{{ odontograma.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('odontograma_show', { 'id': odontograma.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('odontograma_edit', { 'id': odontograma.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('odontograma_new') }}">Create a new odontograma</a>
        </li>
    </ul>
{% endblock %}
