{% extends 'base.html.twig' %}

{% block body %}
    <h1>Disponible</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ disponible.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if disponible.fecha %}{{ disponible.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Consultorio</th>
                <td>{{ disponible.consultorio }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ disponible.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('disponible_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('disponible_edit', { 'id': disponible.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar </button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
