{% extends 'base.html.twig' %}
{% block Subtitulo %} Ver Religion -  <small> <a href="{{ path('religion_index') }}">Regresar a la lista</a></small> {% endblock %} 
{% block body %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success"> {{ msg }} </div>       
    {% endfor %}

    {% for msgs in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {% for msg in msgs %}
                <p>{{ msg }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <!-- page content -->
    <div class="x_content">
        <br />
       
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">Nombre</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                             
                {{ religion.nombre}}              
            </div>
        </div>
             <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">                
                 <a class="btn btn-success" href="{{ path('religion_edit', { 'id': religion.id }) }}"><i class="fa fa-edit m-right-xs"></i>Editar Registro</a>
            </div>
        </div>


                                
    </div>
   

    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar </button>
    {{ form_end(delete_form) }}

{% endblock %}
