{% extends 'base.html.twig' %}
{% block Subtitulo %} Ver Campaña -  <small> <a href="{{ path('campania_index') }}">Regresar a la lista</a></small> {% endblock %} 
{% block body %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success"> {{ msg }} </div>       
    {% endfor %}

    {% for msgs in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {% for msg in msgs %}
                <p>{{ msg }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <!-- page content -->
    <div class="x_content">
        <br />
       
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Campania">Campaña</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                                                     
            </div>
        </div>
          <div class="row">
          <p>{{ campanium.nombre }} </p>
            {% for value in campanium.imagen %}
                          <div class="col-md-55">
                            <div class="thumbnail">
                              <div class="image view view-first">
                                <img style="width: 100%; display: block;" src="{{ asset('uploads/campania/')}}{{ value.nombre }}" alt="image" />
                                <div class="mask">
                                  <p>Imagen</p>
                                  
                                </div>
                              </div>
                              <div class="caption">
                                <p>{{ value.nombre }}</p>
                              </div>
                            </div>
                          </div>                    
            {% endfor %} 
          </div>

        <div class="ln_solid"></div>

        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">                
                 <a class="btn btn-success" href="{{ path('campania_edit', { 'id': campanium.id }) }}"><i class="fa fa-edit m-right-xs"></i>Editar Registro</a>
            </div>
        </div>


                                
    </div>




    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}
