{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- iCheck -->
    <link href="{{ asset('bundles/app/vendors/iCheck/skins/flat/green.css')}}" rel="stylesheet">   
{% endblock %}  
{% block Subtitulo %} Registrar Antecedente Familiares y Otros Contactos - <small> <a href="{{ path('homepage_consulta', { 'paciente': antecedente.paciente.id }) }}">Regresar a la Consulta</a></small> {% endblock %} 

{% block body %}
    <div class="x_content">
        <br />
        {{ form_start(form, { 'attr': {'id':'especialidad','class': 'form-horizontal form-label-left'} }) }} 
        {{ form_errors(form) }}
        {{ form_start(form) }}
        <div class="form-group">
            <label class="col-md-3 col-sm-3 col-xs-12 control-label">Antecedente Familiares y Otros Contactos</label>
            <div class="col-md-4 col-sm-9 col-xs-12">
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.alergia) }}     
                            {{form_widget(form.alergia,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.alergia) }} 
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.asma) }}     
                            {{form_widget(form.asma,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.asma) }} 
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.tbc) }}     
                            {{form_widget(form.tbc,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.tbc) }} 
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.cardiotopia) }}     
                            {{form_widget(form.cardiotopia,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.cardiotopia) }} 
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.hipertension) }}     
                            {{form_widget(form.hipertension,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.hipertension) }} 
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.varices) }}     
                            {{form_widget(form.varices,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.varices) }} 
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.desnutricion) }}     
                            {{form_widget(form.desnutricion,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.desnutricion) }} 
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.diabetes) }}     
                            {{form_widget(form.diabetes,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.diabetes) }} 
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.obesidad) }}     
                            {{form_widget(form.obesidad,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.obesidad) }} 
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.gastropatia) }}     
                            {{form_widget(form.gastropatia,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.gastropatia) }} 
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.neurologica) }}     
                            {{form_widget(form.neurologica,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.neurologica) }} 
                    </label>
                </div>
            </div>
            <div class="col-md-4 col-sm-9 col-xs-12">
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.enfermedadRenal) }}     
                            {{form_widget(form.enfermedadRenal,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.enfermedadRenal) }} 
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.cancer) }}     
                            {{form_widget(form.cancer,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.cancer) }} 
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.alcohol) }}     
                            {{form_widget(form.alcohol,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.alcohol) }} 
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.drogas) }}     
                            {{form_widget(form.drogas,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.drogas) }} 
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.sifilis) }}     
                            {{form_widget(form.sifilis,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.sifilis) }} 
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.sida) }}     
                            {{form_widget(form.sida,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.sida) }} 
                    </label>
                </div>

                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.artritis) }}     
                            {{form_widget(form.artritis,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.artritis) }} 
                    </label>
                </div>

                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.otrosPadre) }}     
                            {{form_widget(form.otrosPadre,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.otrosPadre) }} 
                    </label>
                </div>

                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.otrosMadre) }}     
                            {{form_widget(form.otrosMadre,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.otrosMadre) }} 
                    </label>
                </div>

                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.otrosHermanos) }}     
                            {{form_widget(form.otrosHermanos,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.otrosHermanos) }} 
                    </label>
                </div>

                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            {{ form_errors(form.otros) }}     
                            {{form_widget(form.otros,{ 'attr': {'class': 'flat', 'style':'position: absolute; opacity: 0;'} } ) }}                
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div> {{ form_label(form.otros) }} 
                    </label>
                </div>

            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3"> 
                <input id="info_paciente" name="info_paciente" type="hidden" value="{{info_paciente}}"> 
                <button type="submit" class="btn btn-success">Registrar</button>
            </div>
        </div>
        {{ form_end(form) }}                           
    </div>
{% endblock %}

{% block javascripts %}
    <!-- iCheck -->
    <script src="{{ asset('bundles/app/vendors/iCheck/icheck.min.js')}}"></script>   
{% endblock %}
