{% extends 'base.html.twig' %}
{% block Subtitulo %} Editar Servicios Profesionales -  <small> <a href="{{ path('servicioprofesional_index') }}">Regresar a la lista</a></small> {% endblock %} 

{% block cerrar %} 

{% endblock %} 

{% block body %}
    <div class="x_content">
        <br />
        {{ form_start(edit_form, { 'attr': {'id':'servicioprofesional','class': 'form-horizontal form-label-left'} }) }} 
        {{ form_errors(edit_form) }}

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="servicio">{{ form_label(edit_form.servicio) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.servicio) }}                
                {{form_widget(edit_form.servicio,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="profesional">{{ form_label(edit_form.profesional) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.profesional) }}                
                {{form_widget(edit_form.profesional,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">{{ form_label(edit_form.status) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.status) }}                
                {{form_widget(edit_form.status,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="observacion">{{ form_label(edit_form.observacion) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.observacion) }}                
                {{form_widget(edit_form.observacion,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">                
                <button type="submit" class="btn btn-success">Registrar</button>
            </div>
        </div>
        {{ form_end(edit_form) }}   
        {{ form_start(delete_form) }}                
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar </button>
        {{ form_end(delete_form) }}        
    </div>
{% endblock %}
{% block javascripts %}    
    <script>
        $(document).ready(function () {
            if ($('#appbundle_servicioprofesional_status').val() === 'activo') {
                $('#appbundle_servicioprofesional_observacion').val('');
            }
        });
    </script>
{% endblock %}