{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- select2 -->
    <link href="{{ asset('bundles/app/vendors/select2/dist/css/select2.min.css')}}" rel="stylesheet">

{% endblock %}

{% block body %}
    <h1>Servicioprofesional edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('servicioprofesional_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}


{% block javascripts %}
    <!-- Select2 -->   
    <script src="{{ asset('bundles/app/vendors/select2/dist/js/select2.full.min.js')}}"></script>   


    <script>
        $(document).ready(function () {
            $('#appbundle_servicioprofesional_servicio').select2();


        });
    </script>
    <!-- /Datatables -->
{% endblock %}
