{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista: Servicio Profesionales </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Especialidad</th>
                <th>Día</th>
                <th>Status</th>
                <th>Fecha Actualizacion</th>
                <th>Observacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for servicioProfesional in servicioProfesionals %}
                <tr>
                    <td><a href="{{ path('servicioprofesional_show', { 'id': servicioProfesional.id }) }}">{{ servicioProfesional.id }}</a></td>
                    <td>{{ servicioProfesional.profesional.persona.cedula }}</td>
                    <td>{{ servicioProfesional.profesional.persona.primerNombre}}</td>
                    <td>{{ servicioProfesional.profesional.persona.primerApellido }}</td>
                    <td>{{ servicioProfesional.servicio.especialidad.nombre }}</td>                    
                    <td>{% if servicioProfesional.servicio.dia==0 %}
                        Domingo
                        {% elseif servicioProfesional.servicio.dia==1 %}
                            Lunes
                            {% elseif servicioProfesional.servicio.dia==2 %}
                                Martes
                                {% elseif servicioProfesional.servicio.dia==3 %}
                                    Miércoles
                                    {% elseif servicioProfesional.servicio.dia==4 %}
                                        Jueves
                                        {% elseif servicioProfesional.servicio.dia==5 %}
                                            Viernes
                                            {% else %}
                                                Sábado                                            
                                                {% endif %}
                                                    
                                                </td>
                    <td>{{ servicioProfesional.status | title }}</td>
                    <td>{% if servicioProfesional.fechaActualizacion %}{{ servicioProfesional.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ servicioProfesional.observacion }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('servicioprofesional_show', { 'id': servicioProfesional.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('servicioprofesional_edit', { 'id': servicioProfesional.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('servicioprofesional_new') }}">Create a new servicioProfesional</a>
        </li>
    </ul>
{% endblock %}
