{% extends 'base.html.twig' %}
{% block title %} Historia Odontológica {% endblock %}
{% block Subtitulo %} Editar Historia Odontológica del Paciente -  <small><a href="{{ path('homepage_odontologia', { 'paciente': historiaOdontologica.paciente.id }) }}">Regresar a la Consulta</a> </small> {% endblock %} 
{% block body %}

    <div class="x_content">
        <br />       
        {{ form_start(edit_form, { 'attr': {'id':'historiaOdontologica','class': 'form-horizontal form-label-left'} }) }} 
        {{ form_errors(edit_form) }}

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="paciente">{{ form_label(edit_form.paciente) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.paciente) }}                
                {{form_widget(edit_form.paciente,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tratamientoMedico">{{ form_label(edit_form.tratamientoMedico) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.tratamientoMedico) }}                
                {{form_widget(edit_form.tratamientoMedico,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="medicamentoActual">{{ form_label(edit_form.medicamentoActual) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.medicamentoActual) }}                
                {{form_widget(edit_form.medicamentoActual,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="alergia">{{ form_label(edit_form.alergia) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.alergia) }}                
                {{form_widget(edit_form.alergia,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ultimaVisitaOdontologo">{{ form_label(edit_form.ultimaVisitaOdontologo) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.ultimaVisitaOdontologo) }}                
                {{form_widget(edit_form.ultimaVisitaOdontologo,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tratamientoAplicado">{{ form_label(edit_form.tratamientoAplicado) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.tratamientoAplicado) }}                
                {{form_widget(edit_form.tratamientoAplicado,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dolorBoca">{{ form_label(edit_form.dolorBoca) }}</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.dolorBoca) }}                
                {{form_widget(edit_form.dolorBoca,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sangreEncias">{{ form_label(edit_form.sangreEncias) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.sangreEncias) }}                
                {{form_widget(edit_form.sangreEncias) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="habitos">{{ form_label(edit_form.habitos) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.habitos) }}                
                {{form_widget(edit_form.habitos,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="presionArterial">{{ form_label(edit_form.presionArterial) }}</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.presionArterial) }}                
                {{form_widget(edit_form.presionArterial,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hepatitis">{{ form_label(edit_form.hepatitis) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.hepatitis) }}                
                {{form_widget(edit_form.hepatitis,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tbc">{{ form_label(edit_form.tbc) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.tbc) }}                
                {{form_widget(edit_form.tbc,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enfermedadRespiratoria">{{ form_label(edit_form.enfermedadRespiratoria) }}</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.enfermedadRespiratoria) }}                
                {{form_widget(edit_form.enfermedadRespiratoria,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enfermedadCardiovascular">{{ form_label(edit_form.enfermedadCardiovascular) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.enfermedadCardiovascular) }}                
                {{form_widget(edit_form.enfermedadCardiovascular,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>        

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enfermedadHemorragica">{{ form_label(edit_form.enfermedadHemorragica) }}</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.enfermedadHemorragica) }}                
                {{form_widget(edit_form.enfermedadHemorragica,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enfermedadOtra">{{ form_label(edit_form.enfermedadOtra) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.enfermedadOtra) }}                
                {{form_widget(edit_form.enfermedadOtra,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enfermedadFamiliar">{{ form_label(edit_form.enfermedadFamiliar) }}</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.enfermedadFamiliar) }}                
                {{form_widget(edit_form.enfermedadFamiliar,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="estaEmbarazada">{{ form_label(edit_form.estaEmbarazada) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.estaEmbarazada) }}                
                {{form_widget(edit_form.estaEmbarazada ) }}                
            </div>
        </div>        

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="observaciones">{{ form_label(edit_form.observaciones) }}</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.observaciones) }}                
                {{form_widget(edit_form.observaciones,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div> 

        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3"> 

                <button type="submit" onClick="removeReadonly()" class="btn btn-success">Registrar</button>
            </div>
        </div>

        {{ form_end(edit_form) }}      

        {{ form_start(delete_form) }}
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar </button>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#appbundle_historiaodontologica_paciente').prop('disabled', true);
        });
    </script>
    <script>
        function removeReadonly() {
            $('#appbundle_historiaodontologica_paciente').prop('disabled', false);
            return false;
        }
    </script>
    <!-- /Familiar -->
{% endblock %}