{% extends 'base.html.twig' %}

{% block body %}
    <h1>Consultum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultum.id }}</td>
            </tr>
            <tr>
                <th>Egreso</th>
                <td>{% if consultum.egreso %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if consultum.fecha %}{{ consultum.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('consulta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('consulta_edit', { 'id': consultum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar </button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
