{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- Datatables -->
    <link href="{{ asset('bundles/app/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">

    <!-- PNotify -->
    <link href="{{ asset('bundles/app/vendors/pnotify/dist/pnotify.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/vendors/pnotify/dist/pnotify.buttons.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/vendors/pnotify/dist/pnotify.nonblock.css')}}" rel="stylesheet">

{% endblock %}
{% block title %} Lista de Espera {% endblock %}
{% block Subtitulo %} Lista de Espera -  <small> <a href="#">Crear un nuevo</a></small> {% endblock %} 

{% block body %}
    <h1>Lista de Espera </h1>

    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Cédula</th>
                <th>Paciente</th>
                <th>Fecha</th>
                <th>Status</th>
                <th>Penalizacion</th>
                <th>Posicion</th>
                <th>Especialidad</th>
                <th>Profesional</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for esperando in esperandos %}
                <tr>
                    <td>
                        <span class="image">
                            <img src="{{ asset('uploads/fotos/')}}{{esperando.paciente.persona.foto}}" alt="{{esperando.paciente.persona.cedula}}" class="img-rounded" height="100" width="100">
                        </span>
                    </td>
                    <td>{{ esperando.paciente.persona.nacionalidad }} - {{ esperando.paciente.persona.cedula }}</td>
                    <td>{{ esperando.paciente.persona.primerApellido }} {{ esperando.paciente.persona.primerNombre }}</td>
                    <td>{% if esperando.fechaRegistro %}{{ esperando.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        {% if esperando.status=='atendido' %}                                                        
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{esperando.status |title}}">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                        {% elseif esperando.status=='abandono' %}
                            <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{esperando.status |title}}">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>                            
                            </button>
                        {% elseif  esperando.status=='procesando' %}
                            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{esperando.status |title}}">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </button>                           
                        {% elseif esperando.status=='cancelado' %}
                            <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{esperando.status |title}}"> 
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        {% else %}    
                            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{esperando.status |title}}"> 
                                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                            </button>
                        {% endif %}
                    </td>

                    <td class="project_progress">    
                        {% set valor = (esperando.penalizacion *100/ penalizacion)%}                           
                        {% set color = 'bg-red'-%}
                        {% if(valor<31) %}
                            {% set color = 'bg-green' %}
                        {% endif%}

                        <div class="progress progress_sm right">
                            <div class="progress-bar {{color}}" role="progressbar" data-transitiongoal="{{valor}}" ></div>
                        </div>

                        <small>    {{ valor }}%  - de {{ penalizacion}} Oportunidades </small>
                    </td>
                    <td>{{  esperando.posicion  }} </td>
                    <td>{{ esperando.especialidad.nombre }}</td>
                    <td>{% if esperando.profesional != null %} {{ esperando.profesional.persona.primerApellido }} {{ esperando.profesional.persona.primerNombre }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('esperando_show', { 'id': esperando.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('esperando_edit', { 'id': esperando.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('esperando_new') }}">Create a new esperando</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    <!-- Datatables -->
    <script src="{{ asset('bundles/app/vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>   
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>

    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>    
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>    
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>    
    <script src="{{ asset('bundles/app/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>

    <script src="{{ asset('bundles/app/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>       
    <script src="{{ asset('bundles/app/vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>     
    <script src="{{ asset('bundles/app/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>    
    <script src="{{ asset('bundles/app/vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>

    <script src="{{ asset('bundles/app/vendors/jszip/jszip.min.js')}}"></script>       
    <script src="{{ asset('bundles/app/vendors/pdfmake/pdfmake.min.js')}}"></script>     
    <script src="{{ asset('bundles/app/vendors/pdfmake/vfs_fonts.js')}}"></script>   

    <!-- PNotify -->
    <script src="{{ asset('bundles/app/vendors/pnotify/dist/pnotify.js')}}"></script> 
    <script src="{{ asset('bundles/app/vendors/pnotify/dist/pnotify.buttons.js')}}"></script> 
    <script src="{{ asset('bundles/app/vendors/pnotify/dist/pnotify.nonblock.js')}}"></script> 

    <!-- Push -->
    <script src="{{ asset('bundles/app/vendors/push/push.min.js')}}"></script> 


    <script>
        $(document).ready(function () {

            //Verificar si un Doctor esta llamando a un Paciente
            function estanLlamando() {
                $.ajax
                        ({
                            type: "POST",
                            url: "{{ path ('ajax_estanLlamando') }}",
                            //data: dataString,
                            cache: false,
                            success: function (html)
                            {
                              /*  new PNotify({
                                    title: "Llamando a Paciente",
                                    type: "info",
                                    text: "Paciente # " + html,
                                    icon: 'http://127.0.0.1:8080/ussi/web/uploads/fotos/fba9e9c083883951ead4121fd1d36591.jpeg',
                                    addclass: 'dark',
                                    styling: 'bootstrap3',
                                    hide: false,
                                    before_close: function (PNotify) {
                                        PNotify.update({
                                            title: PNotify.options.title + " - Enjoy your Stay",
                                            before_close: null
                                        });

                                        PNotify.queueRemove();

                                        return false;
                                    }
                                });*/

                                 Push.create("Llamando al", {
                                 body: "Paciente # "+html,
                                 icon: 'http://127.0.0.1:8080/ussi/web/uploads/fotos/fba9e9c083883951ead4121fd1d36591.jpeg',
                                 timeout: 50000,
                                 vibrate:[200, 100] ,
                                 onClick: function () {
                                 window.focus();
                                 this.close();
                                 }
                                 });

                            }
                        });


            }

            setInterval(estanLlamando, 10000);

            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [
                            {
                                extend: "copy",
                                className: "btn-sm"
                            },
                            {
                                extend: "csv",
                                className: "btn-sm"
                            },
                            {
                                extend: "excel",
                                className: "btn-sm"
                            },
                            {
                                extend: "pdfHtml5",
                                className: "btn-sm"
                            },
                            {
                                extend: "print",
                                className: "btn-sm"
                            },
                        ],
                        responsive: true
                    });
                }
            };

            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();

            $('#datatable').dataTable();

            $('#datatable-keytable').DataTable({
                keys: true
            });

            $('#datatable-responsive').DataTable();

            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });

            $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });

            var $datatable = $('#datatable-checkbox');

            $datatable.dataTable({
                'order': [[1, 'asc']],
                'columnDefs': [
                    {orderable: false, targets: [0]}
                ]
            });
            $datatable.on('draw.dt', function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_flat-green'
                });
            });

            TableManageButtons.init();

        });
    </script>
    <!-- /Datatables -->
{% endblock %}
