{% extends 'base.html.twig' %}
{% block Subtitulo %} Crear Lista de Espera -  <small> <a href="{{ path('esperando_index') }}">Regresar a la lista</a></small> {% endblock %} 
{% block cerrar %} {% endblock %} 
{% block body %}
    <div class="x_content">
        <br />
        {{ form_start(form, { 'attr': {'id':'esperando','class': 'form-horizontal form-label-left'} }) }} 
        {{ form_errors(form) }}
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="paciente">{{ form_label(form.paciente) }} <span class="required">*</span></label>
            <div class="col-md-3 col-sm-3  col-xs-12">
                {{ form_errors(form.paciente) }}
                {{form_widget(form.paciente,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="especialidad">{{ form_label(form.especialidad) }} <span class="required">*</span></label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                {{ form_errors(form.especialidad) }}
                {{form_widget(form.especialidad,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="profesional">{{ form_label(form.profesional) }} <span class="required">*</span></label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                {{ form_errors(form.profesional) }}
                {{form_widget(form.profesional,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="penalizacion">{{ form_label(form.penalizacion) }} <span class="required">*</span></label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                {{ form_errors(form.penalizacion) }}
                {{form_widget(form.penalizacion,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="posicion">{{ form_label(form.posicion) }} <span class="required">*</span></label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                {{ form_errors(form.posicion) }}
                {{form_widget(form.posicion,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fechaRegistro">{{ form_label(form.fechaRegistro) }} <span class="required">*</span></label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                {{ form_errors(form.fechaRegistro) }}
                {{form_widget(form.fechaRegistro,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">{{ form_label(form.status) }} <span class="required">*</span></label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                {{ form_errors(form.status) }}
                {{form_widget(form.status,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-success">Registrar</button>
            </div>
        </div>
        {{ form_end(form) }}        
    </div>
{% endblock %}