{% extends 'base.html.twig' %}

{% block body %}
    <h1>Esperando</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ esperando.id }}</td>
            </tr>
            <tr>
                <th>Fecharegistro</th>
                <td>{% if esperando.fechaRegistro %}{{ esperando.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ esperando.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('esperando_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('esperando_edit', { 'id': esperando.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
